################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug/net8.0/UpdateToFluenteTests.assets.cache
/obj/Debug/net8.0/UpdateToFluenteTests.csproj.BuildWithSkipAnalyzers
/obj/Debug/net8.0/UpdateToFluenteTests.csproj.CoreCompileInputs.cache
/obj/Debug/net8.0/UpdateToFluenteTests.csproj.FileListAbsolute.txt
/obj/Debug/net8.0/UpdateToFluenteTests.dll
/obj/Debug/net8.0/UpdateToFluenteTests.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net8.0/UpdateToFluenteTests.genruntimeconfig.cache
/obj/Debug/net8.0/UpdateToFluenteTests.GlobalUsings.g.cs
/obj/Debug/net8.0/UpdateToFluenteTests.pdb
/.vs/ProjectEvaluation/updatetofluentetests.metadata.v7.bin
/.vs/ProjectEvaluation/updatetofluentetests.projects.v7.bin
/.vs/UpdateToFluenteTests/DesignTimeBuild/.dtbcache.v2
/.vs/UpdateToFluenteTests/FileContentIndex/513ab5de-99ab-4341-a820-3c11a2773218.vsidx
/.vs/UpdateToFluenteTests/FileContentIndex/a137cc78-4752-4329-a775-f5dd7ac3f3c5.vsidx
/.vs/UpdateToFluenteTests/v17/.futdcache.v2
/.vs/UpdateToFluenteTests/v17/.suo
/.vs/UpdateToFluenteTests/v17/DocumentLayout.json
/bin/Debug/net8.0/UpdateToFluenteTests.deps.json
/bin/Debug/net8.0/UpdateToFluenteTests.dll
/bin/Debug/net8.0/UpdateToFluenteTests.exe
/bin/Debug/net8.0/UpdateToFluenteTests.pdb
/bin/Debug/net8.0/UpdateToFluenteTests.runtimeconfig.json
/obj/Debug/net8.0/apphost.exe
/obj/Debug/net8.0/ref/UpdateToFluenteTests.dll
/obj/Debug/net8.0/refint/UpdateToFluenteTests.dll
/obj/Debug/net8.0/UpdateToFluenteTests.AssemblyInfo.cs
/obj/Debug/net8.0/UpdateToFluenteTests.AssemblyInfoInputs.cache
/obj/project.assets.json
/obj/project.nuget.cache
/obj/UpdateToFluenteTests.csproj.nuget.dgspec.json
/obj/UpdateToFluenteTests.csproj.nuget.g.props
/obj/UpdateToFluenteTests.csproj.nuget.g.targets
/.vs/UpdateToFluenteTests/FileContentIndex/5178a863-4b70-4cb5-9e35-500828516aab.vsidx
/obj/Debug/net8.0/UpdateToFluenteTests.sourcelink.json
*.vsidx
*.manifest
*.testlog
